/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  letter-spacing : 0.2em;
  min-height: 100vh;
}
.body__container{
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
  max-width: 800px; /* PCでも一定の大きさを保つ */
  margin: 0 auto;
  min-height: 100vh;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* ヘッダー */
/* 
.header {
  background-color: #f1f8fe;
  margin-bottom: 48px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
}
.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
} */

a{
  text-decoration: none;
}
/* ヘッダー */
header{
}
.head_icon{
  /* width: 100vw; */
  /* position: fixed; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #B1E1AF;
  padding: 1rem 0;
  max-width: 800px; /* PCでも一定の大きさを保つ */
  margin: 0 auto;
}

.back{
  height: 30px;
  width: 30px;
}
.head_names{
  display: flex;

}
.head_name{
  margin-right: 10px;
}
.head_newuser{
  margin-right: 10px;
}


/* フッター */
footer{
  /* height: 30px;
  width: 100%; */
  /* position: absolute;/*←絶対位置*/
  /* bottom: 0; 下に固定 */ 

  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #B1E1AF;
  padding: 1rem 0;
  max-width: 800px; /* PCでも一定の大きさを保つ */
  margin: 0 auto;
}

.icon{
  margin-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #B1E1AF;
}
.icon_image{
  margin: 5px 0px;
  /* height: ; */
  width: 15vw;
}
.image{
  width: 10vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon_name{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 5px;
  width: 100%;
}
.icon_image_q{  
  background-color: #FFFABC;
  margin: 1px 0px 5px;
  width: 15vw;
  border-radius: 30%;
}
.icon_name_q{
  /* margin: 5px 5px 10px 2px; */
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 5px;
  width: 100%;
}

/* ホーム画面 */
/* question/index */

.non_answer_main{
  padding: 0px 10px;
  margin: 20px 40px;
  border: 1px solid silver;
  border-radius: 20px;
  /* box-shadow: x軸 y軸 ぼかし量 ぼかしボックスの拡大縮小 影の色; */
  box-shadow: 5px 5px 0px 0 #8e959a;
}
.non_answer_sub{
}
.head_items{
  display: flex;
  justify-content: space-between;
}
.main_genre{
  font-size: 10px;
}
.main_univ{
  font-size: 10px;

}
.main_title{
  height: 100%;
  width: 90%;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  text-decoration: underline;
}
.foot_items{
  display: flex;
  justify-content: space-between;
}
.foot_sub_item{
  display: flex;
  justify-content: space-around;
}
.hurt{
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.hurt_qty{
  height: 15px;
  width: 15px;
  font-size: 10px;
  margin-right: 5px;
}
.comment{
  height: 15px;
  width: 15px;
  margin-right: 5px;
}
.comment_qty{
  height: 15px;
  width: 15px;
  font-size: 10px;
}
.main_limit{
  font-size: 10px;
}

/* 投稿詳細画面 */
/* question/show */
.question_show_main{
  padding: 0px 10px;
  margin: 20px 40px;
  border: 3px solid silver;
  border-radius: 5px;
  /* box-shadow: x軸 y軸 ぼかし量 ぼかしボックスの拡大縮小 影の色; */
  box-shadow: 1px 1px 0px 0 #8e959a;
}
.main_question_date{
  font-size: 5px;
  text-align: right;
}

.main_items{
  padding: 0px 10px;
  margin: 5px 0px;
  border: 1px solid silver;
  border-radius: 5px;
}
.main_content{
  height: 100%;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}
.main_content_sub{
  font-size: 5px;
  text-decoration: underline;
}
.main_content_image{
}
.more{
  display: flex;
  justify-content: right;
  border: #3b4043;
}
.delete{
  /* display: flex;
  justify-content: right; */
  background-color: rgb(250, 176, 176);
  width: 50px;
  text-align: center;
  border-radius: 5%;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.question_show_answer{
  text-align: center;
  background-color: #57C3E9;
  border-radius: 20px;
  border: 0;
  font-size: 18px;
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  font-family: "游ゴシック", "YuGothic";
}
.question_show_answer a{
  color: #fff;
}

.answer_main{
  padding: 10px 10px;
  margin: 20px 40px;
  border: 1px solid silver;
  border-radius: 5px;
  /* box-shadow: x軸 y軸 ぼかし量 ぼかしボックスの拡大縮小 影の色; */
  box-shadow: 1px 1px 0px 0 #8e959a;
}

.answer_user_infos{
  display: flex;
}
.answer_user_image{
  height: 100%;
  width: 60px;
}
.answer_user_info{
  margin-left: 10px;
}
.answer_univ{
  font-size: 5px;
}
.answer_nickname{

}
.answer_date{
  font-size: 5px;
  text-align: right;
}
.answer_content{
  margin-top: 10px;
}
.answer_image{
  height: 100%;
  width: 70%;
}
.answer_comment{
  font-size: 5px;
  font-weight: 600;
  width: 50%;
  text-align: center;
  background-color: rgb(196, 228, 248);
  border-radius: 10px;
}

/* 質問投稿画面 */
/* question/new */
.question_new_main{
  height: (100vh-100px);
  width: 100vw;
}
.question_new_head{
  font-size: 50px;
  width: 80%;
  height: 100px;
  text-align: center;
  margin: 0 auto;
}
.question_new_form{
  margin: 0 auto;

}
.question_new_title{
  margin: 0 auto;
  text-align: center;
}
.question_new_genre{
  margin: 0 auto;
  text-align: center;
}
.question_new_content{
  margin: 0 auto;
  text-align: center;
}
.question_new_limit{
  margin: 0 auto;
  text-align: center;
}
.question_new_selects{
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.question_new_image{
  margin: 0 auto;
  text-align: center;
}
.question_new_univchoice{
  margin: 0 auto;
  text-align: center;
  height: 10vw;
}
.question_new_submit{
  margin: 0 auto;
  text-align: center;
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}